html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Luckysj";
    src: url("../assets/font/luckysj.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Xingxin";
    src: url("../assets/font/Xingxingniannian-Bold-2.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
