<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.mysql.IRaffleActivityDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RaffleActivity">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="activity_desc" property="activityDesc"/>
        <result column="begin_date_time" property="beginDateTime"/>
        <result column="end_date_time" property="endDateTime"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryRaffleActivityByActivityId" parameterType="java.lang.Long" resultMap="dataMap">
        select activity_id, activity_name, activity_desc, begin_date_time, end_date_time, strategy_id, state
        from raffle_activity
        where activity_id = #{activityId}
    </select>
    <select id="queryStrategyIdByActivityId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select strategy_id
        from raffle_activity
        where activity_id = #{activityId}
    </select>
    <select id="queryActivityIdByStrategyId" resultType="java.lang.Long">
        select activity_id
        from raffle_activity
        where strategy_id = #{strategyId}
    </select>


</mapper>
