<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IRaffleActivityAccountDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RaffleActivityAccount">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="total_count" property="totalCount"/>
        <result column="total_count_surplus" property="totalCountSurplus"/>
        <result column="day_count" property="dayCount"/>
        <result column="day_count_surplus" property="dayCountSurplus"/>
        <result column="month_count" property="monthCount"/>
        <result column="month_count_surplus" property="monthCountSurplus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <insert id="insert">
        insert into raffle_activity_account(user_id, activity_id, total_count, total_count_surplus, day_count,
                                            day_count_surplus,
                                            month_count, month_count_surplus, create_time, update_time)
        values (#{userId}, #{activityId}, #{totalCount}, #{totalCountSurplus}, #{dayCount},
                #{dayCountSurplus}, #{monthCount}, #{monthCountSurplus}, now(), now())
    </insert>
    <update id="updateAccountQuota" parameterType="cn.bugstack.domain.activity.model.entity.ActivityAccountEntity">
        update raffle_activity_account
        set total_count = total_count + #{totalCount},
            total_count_surplus = total_count_surplus + #{totalCountSurplus},
            day_count = day_count + #{dayCount},
            day_count_surplus = day_count_surplus + #{dayCountSurplus},
            month_count = month_count + #{monthCount},
            month_count_surplus = month_count_surplus + #{monthCountSurplus},
            update_time = now()
        where user_id = #{userId} and activity_id = #{activityId}
    </update>
    <update id="updateActivityAccountSubtractionQuota" parameterType="cn.bugstack.domain.activity.model.entity.ActivityAccountEntity">
        update raffle_activity_account
        set total_count_surplus = total_count_surplus - 1,
            update_time = now()
        where user_id = #{userId} and activity_id = #{activityId} and total_count_surplus > 0 and day_count_surplus > 0 and month_count_surplus > 0
    </update>
    <update id="updateActivityAccountMonthSurplusImageQuota" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityAccount">
        update raffle_activity_account
        set month_count_surplus = #{monthCountSurplus} - 1, update_time = now()
        where user_id = #{userId} and activity_id = #{activityId}
    </update>
    <update id="updateActivityAccountDaySurplusImageQuota" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityAccount">
        update raffle_activity_account
        set day_count_surplus = #{dayCountSurplus} - 1, update_time = now()
        where user_id = #{userId} and activity_id = #{activityId}
    </update>
    <select id="queryActivityAccountByUserId"
            parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityAccount"
            resultMap="dataMap"
    >
        select id,user_id, activity_id, total_count, total_count_surplus, day_count,
               day_count_surplus, month_count, month_count_surplus, create_time, update_time
        from raffle_activity_account
        where user_id = #{userId} and activity_id = #{activityId}
    </select>


</mapper>
