<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IRuleTreeDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RuleTree">
        <id column="id" property="id"/>
        <result column="tree_id" property="treeId"/>
        <result column="tree_name" property="treeName"/>
        <result column="tree_desc" property="treeDesc"/>
        <result column="tree_node_rule_key" property="treeRootRuleKey"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryRuleTreeByTreeId" parameterType="java.lang.String" resultMap="dataMap">
        select tree_id, tree_name, tree_desc, tree_node_rule_key
        from rule_tree
        where tree_id = #{treeId}
    </select>

</mapper>
