<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IStrategyRuleDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.StrategyRule">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="award_id" property="awardId"/>
        <result column="rule_type" property="ruleType"/>
        <result column="rule_model" property="ruleModel"/>
        <result column="rule_value" property="ruleValue"/>
        <result column="rule_desc" property="ruleDesc"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategyRuleList" resultMap="dataMap">
        select strategy_id
        from strategy_rule
        limit 10
    </select>

    <select id="queryStrategyRule" parameterType="cn.bugstack.infrastructure.persistent.po.StrategyRule" resultMap="dataMap">
        select strategy_id, award_id, rule_type, rule_model, rule_value, rule_desc
        from strategy_rule
        where strategy_id = #{strategyId} and rule_model = #{ruleModel}
    </select>

    <select id="queryStrategyRuleValue" parameterType="cn.bugstack.infrastructure.persistent.po.StrategyRule" resultType="java.lang.String">
        select rule_value from strategy_rule
        where strategy_id = #{strategyId} and rule_model = #{ruleModel}
        <if test="awardId != null">
            and award_id = #{awardId}
        </if>
    </select>

</mapper>
