<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IUserBehaviorRebateOrderDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.UserBehaviorRebateOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="order_id" property="orderId"/>
        <result column="behavior_type" property="behaviorType"/>
        <result column="rebate_desc" property="rebateDesc"/>
        <result column="rebate_type" property="rebateType"/>
        <result column="rebate_config" property="rebateConfig"/>
        <result column="biz_id" property="bizId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.UserBehaviorRebateOrder">
        insert into user_behavior_rebate_order(
        user_id, order_id, behavior_type, rebate_desc, rebate_type, rebate_config, biz_id, create_time, update_time
        ) values(
        #{userId}, #{orderId}, #{behaviorType}, #{rebateDesc}, #{rebateType}, #{rebateConfig}, #{bizId}, now(), now()
        )
    </insert>

</mapper>