<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IUserAwardRecordDao">
    <resultMap id="dateMap" type="cn.bugstack.infrastructure.persistent.po.UserAwardRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="order_id" property="orderId"/>
        <result column="award_id" property="awardId"/>
        <result column="award_title" property="awardTitle"/>
        <result column="award_time" property="awardTime"/>
        <result column="award_state" property="awardState"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.UserAwardRecord">
        insert into user_award_record(user_id, activity_id, strategy_id, order_id, award_id, award_title, award_time,
                                      award_state, create_time, update_time)
        values (#{userId}, #{activityId}, #{strategyId}, #{orderId}, #{awardId}, #{awardTitle},
                #{awardTime}, #{awardState}, now(), now())
    </insert>

    <select id="pageUserAwardRecord" resultMap="dateMap">
        select user_id, activity_id, strategy_id, order_id, award_id, award_title, award_time,
               award_state, create_time, update_time
        from user_award_record
        where user_id = #{userId}
        order by award_time desc
        limit #{page}, #{pageSize}

    </select>
    <select id="queryTotalNumberUserAwardRecord" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from user_award_record
        where user_id = #{userId}
    </select>
</mapper>